body {
    font-family: "Arial", sans-serif;
    background-color: #fafafa;
    text-align: left;
    margin: 0;
    padding: 0;
    color: #555;
    
}

header {
    background-color: #78b1df;
    color: #4b3a1c;
    text-align: center;
    padding: 0.1em 0;
    font-size: 96px;
    line-height: 48px;
}

a {
    text-decoration:none;
    color: #d7c9b1;
}

.trued {
    text-decoration:none;
    background-color: rgb(193, 229, 162);
    color: #000;
   
}

black {

    text-decoration:none;
    color: #000;
}

sel {

    text-decoration:none;
    color: #8e8820;
}

red {

    text-decoration:none;
    color: #ff0000;
}

blue {

    text-decoration:none;
    color: #0000ff;
}

gf {
    text-decoration:none;
    color: #000;
}

.box{
    width: 300px;
    background-color: white;
    border: 2px solid black;
    margin-left: 10px;
    padding: 20px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    text-align: center;
    float: left;
    font-size: 30px;
}



.cleared {
    clear:both;
}

.container{
    width: 300px;
    background-color: cadetblue;
    margin-left: 10px;
    padding: 20px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
}